.page {
  display: flex;
}

.questions-page {
  padding: 24px 0 24px 0;
  width: 100%;
  box-sizing: border-box;

  .questions-grid {
    display: flex;
    padding-left: 24px;
    justify-content: space-between;
    align-items: center;

    .questions-headline {
      margin-bottom: 24px;
      flex: 1 auto;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .search-questions {
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 2px;
  }

  .questions-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 12px 24px;
    margin-bottom: 12px;
    background-color: #232334;
    border-top: 1px solid #2f2f45;
    border-bottom: 1px solid #2f2f45;

    form#search {
      margin: 0;
      display: flex;
      align-items: center;
    }

    .right-side-tools {
      display: flex;
      align-items: center;
      gap: 20px;

      .item-count {
        font-size: 15px;
        color: #9199a1;
        font-weight: 500;
        white-space: nowrap;
      }
    }

    span {
      font-size: 17px;
      margin-right: 12px;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }

  .questions {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 20px;
    border-top: 1px solid #4a4e51;
  }

}

@media(max-width: 1100px) {
  .questions-page {
    width: 100%;
  }
}